.master {
    display: grid;
    grid-row-gap: 4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
}

.content > h2 {
    margin-bottom: 0.4rem;
}

.content > div {
    display: grid;
    grid-row-gap: 1rem;
}

.list {
    display: flex;
}

.list > div:first-of-type {
    align-items: center;
    background-color: var(--black);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    font-size: 1rem;
    height: 1.6rem;
    justify-content: center;
    margin-right: 0.6rem;
    min-width: 1.6rem;
}

.list > div:nth-of-type(2) {
    display: grid;
    grid-row-gap: 1rem;
}

.social {
    align-items: center;
    cursor: pointer;
    display: flex;
    transition: color 0.3s;
    width: fit-content;
}

.social:hover {
    color: var(--blue-600);
}

.social i {
    margin-right: 0.4rem;
}