.content {
    margin-bottom: 6rem;
}

.content h2 {
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}




@media screen and (min-width: 1024px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 640px;
    }
}