.content {
    margin-bottom: 6rem;
}

.content h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}




@media screen and (min-width: 768px) {
    .content {
        margin-left: auto;
        margin-right: auto;
        width: 640px;
    }
}