.master {
    padding-bottom: 20rem;
    padding-top: 6rem;
}

.master textarea {
    display: block;
    overflow: hidden;
    resize: none;
    width: 100%;
}

.master textarea::placeholder {
    color: var(--slate-400);
}

.master textarea:first-of-type {
    height: 62px;
    line-height: 1.35;
    margin-bottom: 0.6rem;
}

.master textarea:nth-of-type(2) {
    height: 200px;
    line-height: 1.5;
    margin-top: 2.5rem;
}





.stuff {
    align-items: flex-start;
    border-top: 3px solid var(--slate-200);
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 1rem;
}

.stuff > div {
    display: flex;
}

.stuff > div > *:first-of-type {
    margin-right: 0.4rem;
}

.stuff > div:first-of-type > div {
    position: relative;
}

.stuff > div:last-of-type button {
    border-radius: 0.3rem;
    padding: 0.5rem 0.6rem;
}





.eventMenu {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 0.3rem;
    padding: 0.6rem 0.8rem 0.8rem 0.8rem;
    position: absolute;
}

.eventMenu > div {
    display: grid;
    grid-row-gap: 0.4rem;
}

.eventMenu > div:first-of-type {
    border-bottom: 3px solid var(--slate-200);
    margin-bottom: 0.6rem;
    padding-bottom: 1rem;
}

.eventMenu > div > div {
    display: flex;
}

.eventMenu > div > div > *:not(:first-of-type) {
    margin-left: 0.4rem;
}





.locationMenu {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 0.3rem;
    padding: 0.6rem 0.8rem 0.8rem 0.8rem;
    position: absolute;
}

.locationMenu input {
    background-color: var(--slate-200);
    border-radius: 0.2rem;
    margin-top: 0.1rem;
    padding: 0.4rem;
}





.error {
    display: grid;
    grid-row-gap: 0.6rem;
    margin-top: 2rem;
}

.error > div {
    background-color: var(--slate-100);
    padding: 0.8rem;
}

.error > div, .error > div > i:before {
    color: var(--blue-600);
}

.error > div > i {
    margin-right: 0.4rem;
}