.master {
    width: max-content;
}

.select {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.select > i {
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 2.4rem;
    width: 2.4rem;
}

.select > i:hover {
    background-color: var(--slate-100);
}

.select > i:active {
    outline: 2px solid var(--slate-300);
}

.select > div {
    text-align: center;
}

.body > div {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(7, max-content);
}

.body > div > div {
    align-items: center;
    display: flex;
    justify-content: center;

    height: 2.4rem;
    width: 2.4rem;
}

.body > div:first-of-type > div {
    color: var(--slate-400);
}

.body > div:last-of-type > div > input {
    display: none;
}

.body > div:last-of-type > div > label {
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 2.4rem;
    width: 2.4rem;
}

.body > div:last-of-type > div > label:hover {
    background-color: var(--slate-100);
}

.body > div:last-of-type > div > input:checked + label {
    background-color: var(--blue-600);
    color: var(--white);
}

.today {
    font-weight: 700;
}