.post {
    border: 1px solid var(--slate-300);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    transition: border-color 0.2s, transform 0.2s;
}

.post:hover {
    border-color: var(--blue);
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.profile {
    align-items: center;
    display: flex;
}

.circle {
    background-color: var(--blue);
    border-radius: 50%;
    height: 1.6rem;
    margin-right: 0.4rem;
    min-width: 1.6rem;
}

.username {
    word-break: break-all;
}

.time {
    color: var(--slate-400);
    margin-left: 2rem;
}

.tag {
    background-color: rgb(226 232 240);
    border-radius: 50em;
    color: rgb(100 116 139);
    font-weight: 600;
    padding: 0.4em 1em;
    width: fit-content;
}

.title {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    transition: color 0.3s;
}

.interact {
    display: flex;
    margin-top: 4rem;
}

.interact > div {
    align-items: center;
    display: flex;
    margin-right: 2rem;
}

.interact > div > i {
    margin-right: 0.4rem;
}