.master {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, 32px);
}

.master input {
    display: none;
}

.master label {
    background-color: var(--white);
    border: 1px solid var(--slate-300);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 32px;
    width: 32px;
}

.master label:hover {
    background-color: var(--slate-100);
}

.master input:checked + label {
    background-color: var(--blue-600);
    border-color: var(--blue-600);
    color: var(--white);
}