


.body {
    width: fit-content;
}

.body > div:first-of-type > span:first-of-type {
    font-weight: 700;
}

.body > div:first-of-type > span:last-of-type {
    color: var(--slate-400);
    font-size: 15px;
    margin-left: 6px;
}

.body > p {
    margin-top: 6px;
}






.reacts {
    align-items: center;
    display: grid;
    font-size: 14px;
    grid-auto-flow: column;
    grid-column-gap: 15px;
    justify-content: start;
    margin-top: 10px;
}

.reacts > div:not(:last-of-type) {
    align-items: center;
    display: flex;
}

.reacts > div:not(:last-of-type) > div {
    border: 1px solid var(--slate-300);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    margin-right: 0.2rem;
    padding: 0.4em;
}

.reacts > div:not(:last-of-type) > div:hover {
    background-color: var(--slate-100);
}

.reacts svg {
    height: 1em;
    width: auto;
}

.reacts > div:last-of-type > label {
    border: 1px solid var(--slate-300);
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 8px;
}

.reacts > div:last-of-type > label:hover {
    background-color: var(--slate-100);
}

.blue svg {
    fill: var(--blue-600);
}





.reply {
    background-color: var(--white);
    border: 1px solid var(--slate-300);
    border-radius: 14px;
    height: max-content;
    margin-top: 10px;
    padding: 12px;
    width: 100%;
}

.reply textarea {
    height: 45px;
    line-height: 1.4;
    overflow: hidden;
    resize: none;
    width: 100%;
}

.reply textarea::placeholder {
    color: var(--slate-400);
}

.reply > div {
    display: flex;
    justify-content: flex-end;
}

.reply button {
    border-radius: 8px;
    margin-top: 8px;
    padding: 0.4rem 0.6rem;
}






.replies {
    border-left: 1px solid var(--slate-300);
    display: grid;
    grid-row-gap: 30px;
    margin-top: 30px;
    padding-left: 20px;
}