


.master {
    display: grid;
    grid-row-gap: 40px;
    margin: 80px auto;
    max-width: 768px;
}

.master > div:not(:first-of-type) {
    border-top: 1px solid var(--slate-300);
    padding-top: 40px;
}

.master > div:first-of-type {
    display: grid;
    grid-row-gap: 36px;
}

.master > div:first-of-type > p {
    font-size: 17px;
    white-space: pre-wrap;
}





.master {
    background-color: var(--slate-200);
    border-radius: 8px;
    color: var(--slate-500);
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px 10px;
    text-transform: uppercase;
    width: fit-content;
}





.poster {
    display: grid;
    grid-row-gap: 7px;
}

.poster > div:not(:last-of-type) {
    color: var(--slate-500);
}

.poster > div:last-of-type {
    color: var(--blue-600);
}





.eventDate > div:first-of-type {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 12px;
}






.location > div:first-of-type {
    font-size: 22px;
    font-weight: 700;
}

.location > p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.location > div:nth-of-type(2) {
    background-image: url("../asset/images/gmap.jpg");
    background-size: cover;
    border-radius: 12px;
    height: 200px;
    width: 100%;
}








.reacts {
    display: grid;
    font-size: 17px;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    justify-content: start;
}

.reacts > div {
    align-items: center;
    display: flex;
}

.reacts > div > div {
    border: 1px solid var(--slate-300);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    margin-right: 5px;
    padding: 8px;
}

.reacts > div > div:hover {
    background-color: var(--slate-100);
}

.reacts svg {
    height: 1em;
    width: auto;
}

.blue {
    fill: var(--blue-600);
}






.comments h2 {
    margin-bottom: 20px;
}

.comments > div:first-of-type input {
    display: none;
}

.comments > div:first-of-type label {
    border: 1px solid var(--slate-300);
    border-radius: 9px;
    cursor: pointer;
    display: block;
    padding: 8px 12px;
    width: fit-content;
}

.comments > div:first-of-type label:hover {
    background-color: var(--slate-100);
}

.reply {
    background-color: var(--white);
    border: 1px solid var(--slate-300);
    border-radius: 14px;
    height: max-content;
    margin-top: 10px;
    padding: 12px;
    width: 100%;
}

.reply textarea {
    height: 45px;
    line-height: 1.4;
    overflow: hidden;
    resize: none;
    width: 100%;
}

.reply textarea::placeholder {
    color: var(--slate-400);
}

.reply > div {
    display: flex;
    justify-content: flex-end;
}

.reply button {
    border-radius: 8px;
    margin-top: 8px;
    padding: 0.4rem 0.6rem;
}

.comments > div:last-of-type {
    display: grid;
    grid-row-gap: 30px;
    margin-top: 30px;
}