

.master input {
    display: none;
}

.master label {
    border-radius: 10px;
    cursor: pointer;
    display: block;
    line-height: 1.5;
    padding: 5px 0 5px 12px;
    position: relative;
    transition: border-color 0.3s, color 0.3s;
}

.master label:before {
    content: '\2022';
    display: block;
    margin-right: 8px;
    position: absolute;
    left: 0;
}

.master label:hover {
    border-color: var(--slate-800);
}

.master input:checked + label {
    color: var(--blue-600);
}

.master input:checked + label:before {
    color: var(--blue-600);
}