.master {
    display: grid;
    grid-gap: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.master > div:first-of-type {
    align-content: start;
    border: 1px solid var(--black);
    display: grid;
    grid-row-gap: 1.2rem;
    height: fit-content;
    padding: 1.2rem;
}

.option {
    border-bottom: 1px solid var(--black);
    padding-bottom: 1.2rem;
}

.description > h1 {
    margin-bottom: 0.4rem;
}

.description > div {
    display: grid;
    grid-row-gap: 1rem;
}

.description > div > p:first-of-type {
    display: none;
}






@media (min-width: 960px) {
    .master {
        grid-template-columns: 18rem auto;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}