.master {
    display: grid;
    grid-gap: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.options {
    align-content: start;
    border: 1px solid var(--black);
    display: grid;
    grid-row-gap: 1.2rem;
    height: fit-content;
    padding: 1.2rem;
}

.options > div:not(:last-of-type) {
    border-bottom: 1px solid var(--black);
    padding-bottom: 1.2rem;
}

.definitions {
    display: grid;
    grid-row-gap: 1.2rem;
}

.definitions > div > div:first-of-type {
    margin-bottom: 0.3rem;
}

.description > h1 {
    margin-bottom: 1rem;
}

.description > p {
    display: grid;
    grid-row-gap: 1rem;
}

.description > p > p:first-of-type {
    display: none;
}






@media (min-width: 960px) {
    .master {
        grid-template-columns: 18rem auto;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}