.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.options {
    display: grid;
    gap: 0.8rem;
    margin-top: 1rem;
    width: 100%;
}

.contentGrid {
    display: grid;
    grid-gap: 1.8rem;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    width: fit-content;
}

.pagination > div {
    border: 2px solid var(--slate-300);
    display: inline-block;
    cursor: pointer;
    margin-right: 0.4rem;
    padding: 0.3em 0.8em;
    transition: border-color 0.2s;
}

.pagination > div:hover {
    border-color: var(--blue);
}

.currentPage {
    background-color: var(--blue);
    border-color: var(--blue) !important;
    color:rgb(255, 255, 255);
    cursor: initial !important;
}





@media screen and (min-width: 640px) {
    .filters {
        margin-left: auto;
        margin-right: auto;
        width: 540px;
    }

    .options {
        grid-template-columns: 1fr 1fr 0.6fr;
    }
}

@media screen and (min-width: 768px) {
    .filters {
        width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .filters {
        width: 768px;
    }

    .contentGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1536px) {
    .contentGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}