

/*

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/lora-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/inter-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/inter-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/inter-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/inter-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/inter-extrabold.woff2') format('woff2');
}

 */


@font-face {
  font-family: 'lora';
  src: url('../asset/fonts/lora-var.woff2') format('woff2');
}

@font-face {
  font-family: 'inter';
  src: url('../asset/fonts/inter-var.woff2') format('woff2');
}



:root {
  --white: rgb(255, 255, 255);

  --blue: rgb(0, 105, 255);
  --blue-50: rgb(239 246 255);
  --blue-100: rgb(219 234 254);
  --blue-200: rgb(191 219 254);
  --blue-300: rgb(147 197 253);
  --blue-400: rgb(96 165 250);
  --blue-500: rgb(59 130 246);
  --blue-600: rgb(37 99 235);
  --blue-700: rgb(29 78 216);
  --blue-800: rgb(30 64 175);
  --blue-900: rgb(30 58 138);
  --blue-1000: rgb(16, 37, 94);

  --sky-500: rgb(14 165 233);
  --sky-600: rgb(2 132 199);
  --sky-700: rgb(3 105 161);
  --sky-800: rgb(7 89 133);
  --sky-900: rgb(12 74 110);

  --slate-50: rgb(248 250 252);
  --slate-100: rgb(242 245 248);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);

  --gray-50: rgb(249 250 251);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --gray-300: rgb(209 213 219);
  --gray-400: rgb(156 163 175);
  --gray-500: rgb(107 114 128);
}





* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  color: var(--slate-800);
}

a {
  color: unset;
  text-decoration: none;
}

a.styled {
  text-decoration: underline;
  transition: color 0.3s;
}

a.styled:hover {
  color: var(--blue-600);
}

button, input, textarea, select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;

  font-size: 1rem;
}




html {
  font-size: 15px;
}

h1, h2, h3 {
  font-family: 'lora', serif;
  font-weight: normal;
  font-variation-settings: 'wght' 700;
}

body, input, textarea, select {
  font-family: 'inter', sans-serif;
  font-weight: normal;
}

h1, h2, h3 {
  line-height: 1.4em;
}

p {
  line-height: 1.6em;
}

h1 {
  font-size: 2.4rem;
}





/* CUSTOM COMPONENTS */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6rem;
  padding-top: calc(6rem + 4.4rem);
  width: 90vw;
}

.btn {
  cursor: pointer;
  width: fit-content;
}

.btn.main {
  background-color: var(--blue-600);
  color: var(--white);
  transition: background-color 0.3s;
}

.btn.main:hover {
  background-color: var(--blue-700);
}

.btn.sm {
  border-radius: 0.6rem;
  padding: 0.7em;
}

.btn.md {
  border-radius: 0.6rem;
  padding: 0.9em;
}




@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1408px) {
  html {
    font-size: 17px;
  }
}