@import 'variables.css';





/* REMOVALS AND ENHANCEMENTS */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input, textarea, select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

  font-size: 1rem;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

body, input, textarea, select, button {
  font-family: 'akkurat', sans-serif;
  font-weight: normal;
  color: var(--black);
}

button, input[type='submit'] {
  color: unset; /* text color of buttons is blue by default on apple devices and this removes that */
  cursor: pointer;
}






/* FONT SIZES */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-family: 'foundersgrotesk', sans-serif;
  font-weight: normal;
  line-height: 1.1em;
}

h1, .h1 {
  font-size: 2.4rem;
}

h2, .h2 {
  font-size: 1.8rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5em;
}

.p-2 {
  font-size: 1.1rem;
}

.p-1 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 3rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.5rem;
  }

  h4, .h4 {
    font-size: 1.2rem;
  }

  .p-2 {
    font-size: 1.2rem;
  }

  .p-1 {
    font-size: 1.1rem;
  }
}









/* CLASSES */

.master {
  min-height: calc(100vh - var(--footer-height));
  padding-top: var(--header-nav-height);
}

.fixedWidth {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-max-width);
  padding-left: 1rem;
  padding-right: 1rem;
}

a.underline {
  text-decoration: underline;
  text-underline-offset: 18%;
}

button.primary, input[type='submit'].primary {
  background-color: var(--blue-600);
  border: 1px solid var(--blue-600);
  color: var(--white);
  transition: background-color 0.2s, color 0.2s;
}

button.primary:hover, input[type='submit'].primary:hover {
  background-color: transparent;
  color: var(--blue-600);
}

button.outline {
  border: 1px solid var(--black);
  position: relative;
  transition: color 0.2s;
}

button.outline:before {
  background-color: var(--black);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
  width: 100%;
  z-index: -1;
}

button.outline:hover {
  color: var(--white);
}

button.outline:hover:before {
  transform: scaleX(1);
}