@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

@import 'variables.css';





/* REMOVALS AND ENHANCEMENTS */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--slate-800);
  font-family: 'open sans', sans-serif;
  font-weight: 400;
}

button, input, select, textarea {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

  font-size: 1rem;
}

button, input[type='submit'] {
  color: unset;  /* text color of buttons is blue by default on apple devices and this removes that */
  cursor: pointer;
  display: block;
}

a {
  color: unset;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

i {
  display: inline-flex;
}

i:before {
  transition: color 0.2s;
}

span {
  display: inline-block;
}






/* FONT SIZES */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  font-weight: 700;
  line-height: 1.35;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.6rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.4rem;
}

h6, .h6 {
  font-size: 1.3rem;
}

.h7 {
  font-size: 1.2rem;
}

p {
  line-height: 1.6;
}

.p3 {
  font-size: 1.3rem;
}

.p2 {
  font-size: 1.2rem;
}

.p1 {
  font-size: 1.1rem;
}








body {

}









/* CLASSES */

.fixedHeight {
  min-height: calc(100vh - var(--footer-height));
  padding-top: var(--header-nav-height);
}

.fixedWidth {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-max-width);
  padding-left: 20px;
  padding-right: 20px;
}

.underline {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 12%;
  width: fit-content;
}





button.primary, input[type='submit'].primary {
  background-color: var(--blue-600);
  border: 1px solid var(--blue-600);
  color: var(--white);
  transition: background-color 0.2s, border-color 0.2s;
}

button.primary:hover, input[type='submit'].primary:hover {
  background-color: var(--blue-700);
  border-color: var(--blue-700);
}

button.primary:active, input[type='submit'].primary:active {
  outline: 4px solid var(--blue-200);
}





button.outline, input[type='submit'].outline {
  border: 1px solid var(--slate-300);
  color: var(--blue-600);
  transition: background-color 0.2s;
}

button.outline:hover, input[type='submit'].outline:hover {
  background-color: var(--slate-100);
}

button.outline:active, input[type='submit'].outline:active {
  outline: 4px solid var(--slate-200);
}




button.white-primary, input[type='submit'].white-primary {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--black);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

button.white-primary:hover, input[type='submit'].white-primary:hover {
  background: none;
  border-color: var(--white);
  color: var(--white);
}

button.white-outline, input[type='submit'].white-outline {
  background: none;
  border: 1px solid var(--white);
  color: var(--white);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

button.white-outline:hover, input[type='submit'].white-outline:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--black);
}












.red, .red:before {
  color: var(--blue-600) !important;
}

.bold {
  font-weight: bold;
}






p.mw-empty-elt {
  display: none;
}





@media (min-width: 768px) {
  .fixedWidth {
    padding-left: 24px;
    padding-right: 24px;
  }
}