.hero {
    background-color: var(--black);
    color: var(--white);
    padding-top: 4rem;
}

.hero > div {
    align-items: center;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--site-max-width);
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero > div > div {
    justify-self: center;
    text-align: center;
}

.hero > div > img {
    justify-self: center;
    padding-top: 2rem;
    width: 80%;
}

.hero h1 {
    font-size: 2.4rem;
    line-height: 1.1em;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
}




.notice {
    background-color: var(--gray-200);
}

.notice > div {
    display: grid;
    grid-row-gap: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 1rem;
    text-align: center;
}

.notice h2 {
    font-size: 1.7rem;
}

.notice button {
    font-size: 1rem;
    padding: 0.6rem;
}

.small {
    max-width: 420px;
}

.big {
    max-width: 640px;
}

.big > button {
    margin-left: auto;
    margin-right: auto;
    width: min(100%, 380px);
}




.heading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}



.master {
    display: grid;
    grid-row-gap: 4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.content > div {
    display: grid;
    grid-gap: 2rem;
}

.postLarge {
    border-bottom: 1px solid var(--black);
    padding-bottom: 2rem;
}






@media (min-width: 1024px) {
    .hero {
        padding-top: 0;
    }

    .hero > div {
        grid-template-columns: 50% auto;
    }

    .hero > div > div {
        max-width: 30rem;
        padding-right: 2rem;
    }

    .hero h1 {
        font-size: 3.2rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero > div > img {
        width: 100%;
    }

    .content > div {
        grid-template-columns: 1fr 1fr;
    }

    .notice h2 {
        font-size: 2.2rem;
    }

    .notice button {
        font-size: 1.1rem;
    }

    .heading {
        font-size: 3.2rem;
    }
}










/*

.subHeading {
    border-bottom: 1px solid var(--black);
    font-family: 'foundersgrotesk-mono', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.bigHeader {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.gridSmallSpacing {
    display: grid;
    grid-gap: 1rem;
}

.itemSmallPadding {
    border-bottom: 1px dashed var(--black);
    padding-bottom: 1rem;
}

.itemNormalPadding {
    border-bottom: 1px dashed var(--black);
    padding-bottom: 2rem;
}

.trappedContent {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.trappedContent > div:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    position: absolute;
    width: 100%;
}

.trappedContent > div:nth-of-type(2) {
    background: none;
    box-shadow: 0 -100px 60px -40px var(--white) inset;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}















.contentContainer {
    display: grid;
    grid-row-gap: 6rem;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.content {
    display: grid;
    grid-gap: 2rem;
}

.content > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
}

.content > div:nth-of-type(1) > button {
    padding: 0.6rem;
}

.content > div:nth-of-type(2) {
    display: grid;
    grid-gap: 2rem;
}

.content > div:nth-of-type(2) > div:last-of-type {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
}







.latestByCategoryContainer {
    display: grid;
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 540px), 1fr));
}

.latestByCategory {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
}













@media (min-width: 1024px) {
    .content {
        grid-template-columns: 16rem auto;
    }
}

@media (min-width: 1280px) {
    .latestPosts {
        grid-template-columns: auto 24rem;
    }
}

 */