.label {
    color: var(--gray-400);
    display: block;
    margin-bottom: 0.2rem;
    text-transform: capitalize;
    width: fit-content;
}

.input {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
    font-size: 1rem;
    padding: 0.7rem;
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input::placeholder {
    color: var(--gray-400);
}

.input:hover {
    border-color: var(--blue-600);
}

.input:focus {
    border-color: var(--blue-600);
    box-shadow: 0 0 4px 0 var(--blue-600);
}