.wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8rem;
    padding-top: calc(8rem + 70px);
    width: 100%;
}

@media screen and (min-width: 640px) {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width: 1024px;
    }
}

@media screen and (min-width: 1536px) {
    .wrapper {
        width: 1280px;
    }
}