.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.4rem;
    width: 90vw;
}

.title {
    margin-bottom: 2rem;
}

.input {
    margin-bottom: 1.4rem;
}

.submit {
    font-variation-settings: 'wght' 500;
    margin-top: 1.4rem;
}




@media screen and (min-width: 540px) {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 480px;
    }
}