.header {
    background-color: var(--white);
    border-bottom: 2px solid var(--gray-200);

    position: fixed;
    width: 100%;
    z-index: 2000;
    overflow: hidden;
}

.header a {
    transition: color 0.3s;
}

.header a:hover {
    color: var(--blue-600);
}

.desktop {
    background-color: var(--white);
    position: absolute;
    width: 100%;
    z-index: 2002;
}

.desktop > div {
    height: var(--header-nav-height);

    align-items: center;
    display: flex;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    margin-right: auto;
    width: min(100%, var(--site-max-width));
}

.logo {
    display: flex;
}

.logo img {
    height: 0.9rem;
}

.big {
    display: none;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
}

.desktop button i {
    font-size: 1.6rem;
}

.mobile {
    align-content: center;
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;

    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    z-index: 2001;
}

.mobile > a {
    font-family: 'foundersgrotesk', sans-serif;
    font-size: 2.5rem;
}




/* RESPONSIVE */

@media (min-width: 960px) {
    .big {
        display: grid;
    }

    .desktop button {
        display: none;
    }
}