.header {
    background-color: var(--white);
    border-bottom: 2px solid var(--gray-200);
    overflow: hidden;
    position: fixed;
    width: 100vw;
    z-index: 2000;
}

.desktop {
    background-color: var(--white);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2002;
}

.desktop > div {
    height: var(--header-nav-height);

    align-items: center;
    display: flex;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;

    margin-left: auto;
    margin-right: auto;
    max-width: var(--site-max-width);
}

.logo {
    display: flex;
}

.logo img {
    height: 0.95rem;
}

.desktop > div > div {
    display: none;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
}

.desktop > div > div a:hover {
    text-decoration: underline var(--slate-400);
    text-underline-offset: 20%;
}

.desktop button i {
    font-size: 1.6rem;
}




.underline {
    text-decoration: underline var(--blue-600);
    text-underline-offset: 20%;
}

.underline:hover {
    text-decoration: underline var(--blue-600) !important;
    text-underline-offset: 20% !important;
}

.super {
    position: relative;
}

.super:before {
    animation: underline-appear 0.2s;
    border-bottom: 2px solid var(--blue-600);
    content: '';
    height: 110%;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: left;
    width: 100%;
    z-index: -1;
}

@keyframes underline-appear {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}





.mobile {
    align-content: center;
    display: grid;
    grid-row-gap: 0.6rem;
    justify-items: center;

    height: 100vh;
    width: 100vw;

    left: 0;
    position: absolute;
    top: 0;
    z-index: 2001;
}






@media (min-width: 960px) {
    .desktop > div > div {
        display: grid;
    }

    .desktop button {
        display: none;
    }
}