.header {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    position: fixed;
    width: 100%;
}

.header nav {
    align-items: center;
    display: flex;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%;
}

.header img {
    height: auto;
    width: 5rem;
}

.links {
    align-items: center;
    display: none;
}

.links div {
    margin-right: 2rem;
}

.links div:last-of-type {
    margin-right: 0;
}

.user {
    align-items: center;
    display: flex;
}

.register {
    background-color: var(--blue);
    border-radius: 0.4em;
    color: rgb(255, 255, 255);
    margin-left: 1.2rem;
    padding: 0.7em 1em;
}




@media screen and (min-width: 1024px) {
    .links {
        display: flex;
    }
}