.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    text-align: center;
}

.quote {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    margin-top: 3rem;
}

.name {
    color: var(--slate-400);
    font-size: 1.1rem;
}


@media screen and (min-width: 768px) {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 640px;
    }
}