.pagination {
    width: fit-content;
}

.pagination > div {
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
    transition: background-color 0.3s;
}

.pagination > div:hover {
    background-color: var(--gray-200);
}

.currentPage {
    background-color: var(--blue);
    color: var(--white);
    cursor: initial !important;
}

.currentPage:hover {
    background-color: var(--blue) !important;
}