.post {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
    transition: border-color 0.2s, transform 0.2s;
}

.date {
    background-color: var(--gray-500);
    border-radius: 100rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1.2rem;
    padding: 0.6rem 1rem;
    width: fit-content;
}

.tag {
    color: var(--blue-600);
    line-height: 1;
}

.title {
    margin-top: 0.6rem;
    transition: color 0.3s;
}

.title:hover {
    color: var(--blue-600);
}

.name {
    color: var(--gray-400);
    margin-top: 0.6rem;
}

.userData {
    line-height: 1;
    margin-top: 3.6rem;
}