.post {
    align-content: space-between;
    border-top: 1px solid var(--black);
    display: grid;
    grid-row-gap: 1rem;
    height: 100%;
    padding-top: 1rem;
}

.post > div:first-of-type {
    display: grid;
    grid-row-gap: 0.6rem;
}

.fundraiser {
    border-top: 1px solid var(--black);
    display: grid;
    grid-row-gap: 1.2rem;
    height: 100%;
    padding-top: 1rem;
    align-content: space-between;
}

.fundraiser > div:first-of-type {
    display: grid;
    grid-row-gap: 0.6rem;
}

.deadline {
    background-color: var(--black);
    border-radius: 0.3rem;
    color: var(--white);
    font-size: 0.9rem;
    margin-top: 0.2rem;
    padding: 0.3rem 0.4rem;
    width: fit-content;
}

.event {
    border: 1px solid var(--black);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event > div:first-of-type {
    background-color: var(--black);
    padding: 1rem;
}

.event > div:first-of-type > div {
    color: var(--white);
    line-height: 1.1;
    text-align: center;
}

.event > div:first-of-type > div:last-of-type {
    text-transform: uppercase;
}

.event > div:last-of-type {
    display: grid;
    grid-row-gap: 1rem;
    height: 100%;
    align-content: space-between;
    padding: 1rem;
}

.event > div:last-of-type > div:first-of-type {
    display: grid;
    grid-row-gap: 0.6rem;
}





.post a, .fundraiser a, .event a {
    transition: color 0.3s;
}

.post a:hover, .fundraiser a:hover, .event a:hover {
    color: var(--blue-600);
}

.subtitle {
    align-items: center;
    display: flex;
    font-size: 0.85rem;
    justify-content: space-between;
}

.subtitle > div:first-of-type {
    color: var(--blue-600);
    text-transform: uppercase;
}

.subtitle > div:last-of-type {
    color: var(--slate-400);
}

.country {
    align-items: center;
    background-color: var(--slate-200);
    border-radius: 0.3rem;
    display: flex;
    margin-top: 0.2rem;
    padding: 0.3rem 0.5rem;
    width: fit-content;
}

.country > div:first-of-type {
    font-family: 'Twemoji Country Flags';
    margin-right: 0.2rem;
}

.country > div:last-of-type {
    color: var(--slate-500);
    font-size: 0.95rem;
}

.reacts {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    justify-content: start;

}

.reactsEvent {
    border-top: 1px solid var(--slate-300);
    padding-top: 1rem;
}