.post {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
    transition: border-color 0.2s, transform 0.2s;
}

.tag {
    color: var(--blue-600);
}

.title {
    font-size: 1.6rem;
    margin-top: 0.4rem;
    transition: color 0.3s;
}

.title:hover {
    color: var(--sky-700);
}

.name {
    color: var(--gray-400);
    margin-bottom: 4rem;
    margin-top: 0.6rem;
}