.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.filters {
    margin-bottom: 2rem;
}

.search {
    padding-bottom: 1rem;
}

.options {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.radio {
    display: none;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.reset {
    margin-top: 1rem;
    width: 100%;
}

.content {
    width: 100%;
}

.posts {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
    margin-top: 1rem;
}









@media (min-width: 640px) {
    .container {
        flex-direction: row;
    }

    .filters {
        margin-bottom: 0;
        margin-right: 2rem;
        min-width: 14rem;

        align-self: flex-start;
        position: sticky;
        top: 8rem;
    }

    .search {
        border-bottom: 1px solid var(--black);
    }

    .options {
        grid-template-columns: auto;
    }

    .radio {
        display: block;
        border-bottom: 1px solid var(--black);
    }

    .select {
        display: none;
    }
}

@media (min-width: 1430px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}