.post {
    display: flex;
    flex-direction: column;
}

.post > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.date {
    background-color: var(--black);
    color: var(--white);
    font-family: 'foundersgrotesk-mono', sans-serif;
    font-size: 0.9rem;
    margin-bottom: 1.4rem;
    padding: 0.4rem;
    width: fit-content;
}

.category span {
    font-family: 'foundersgrotesk-mono', sans-serif;
    font-size: 1rem;
}

.category span:nth-of-type(1) {
    color: var(--blue-600);
    text-transform: uppercase;
}

.category span:nth-of-type(2) {
    color: var(--gray-400);
}

.category:first-letter {
    text-transform: uppercase;
}

.title {
    font-size: 2rem;
    margin-top: 0.8rem;
    transition: color 0.3s;
}

.title:hover {
    color: var(--blue-600);
}

.body {
    font-size: 1.1rem;
    margin-top: 0.8rem;
    min-height: 5rem;

    height: 100%;
    position: relative;
    overflow: hidden;
}

.body p {
    position: absolute;
    white-space: pre-wrap;
}

.body div {
    background: none;
    /*
    box-shadow: 0 -100px 60px -40px var(--white) inset;
     */
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.name {
    color: var(--slate-400);
    margin-top: 0.2rem;
}

.userData {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1.6rem;
    justify-content: start;

    font-size: 1.1rem;
    line-height: 1;
    margin-top: 2rem;
}