.category {
    font-family: 'foundersgrotesk-mono', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.category span:nth-of-type(1) {
    color: var(--blue-600);
    text-transform: uppercase;
}

.category span:nth-of-type(2) {
    color: var(--gray-400);
}

.title {
    transition: color 0.2s;
}

.title:hover {
    color: var(--blue-600);
}