.master {
    display: grid;
    grid-row-gap: 32px;
    padding-bottom: 64px;
    padding-top: 64px;
}





.filters {
    align-content: start;
    border-bottom: 1px solid var(--slate-300);
    display: grid;
    grid-row-gap: 28px;
    padding-bottom: 32px;
}

.filters button {
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}

.filters > div:first-of-type > div:first-of-type {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}

.category > div:first-of-type {
    display: flex;
    margin-bottom: 9px;
}

.category > div:first-of-type > div {
    font-size: 17px;
    font-weight: 700;
}

.category > div:first-of-type > span {
    background-color: var(--slate-200);
    border-radius: 6px;
    margin-left: 6px;
    padding: 2px 8px;
}







.results {
    display: flex;
    justify-content: space-between;
}

.results > div:first-of-type {
    align-items: center;
    display: flex;
}

.results > div:first-of-type > div:first-of-type {
    font-weight: 700;
}

.results > div:first-of-type > div:last-of-type {
    margin-left: 6px;
}

.results > div:first-of-type > div:last-of-type label {
    text-transform: capitalize;
}

.results > div:first-of-type > div:last-of-type > label {
    border: none;
    border-radius: 0;
    padding: 0;
    text-transform: capitalize;
}

.results > div:first-of-type > div:last-of-type > label > div {
    padding-right: 8px;
}

.results > div:first-of-type > div:last-of-type > div {
    width: 120px;
}





.posts {
    display: grid;
    grid-row-gap: 32px;
    grid-template-columns: auto;
    margin-top: 28px;
}

.posts > div:not(:first-of-type) {
    border-top: 1px solid var(--slate-300);
    padding-top: 32px;
}





.nothing {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    text-align: center;
}

.nothing img {
    height: 100px;
    margin-bottom: 12px;
    width: auto;
}

.nothing > div:first-of-type {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
}




@media (min-width: 768px) {
    .master {
        grid-column-gap: 36px;
        grid-template-columns: 260px auto;
    }

    .filters {
        border-right: 1px solid var(--slate-300);
        padding-right: 40px;

        border-bottom: none;
        padding-bottom: 0;
    }
}