.container {
    display: grid;
    
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.filters {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 0.6fr;
    width: 100%;
}

.search {
    margin-bottom: 2rem;
    width: 100%;
}

.post {
    border-bottom: 1px solid var(--slate-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
    padding-top: 4rem;
    transition: border-color 0.2s, transform 0.2s;
}

.post:first-of-type {
    border-top: 1px solid var(--slate-300);
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.profile {
    align-items: center;
    display: flex;
}

.circle {
    background-color: var(--blue);
    border-radius: 50%;
    height: 1.6rem;
    margin-right: 0.4rem;
    min-width: 1.6rem;
}

.username {
    word-break: break-all;
}

.time {
    color: var(--slate-400);
    margin-left: 2rem;
}

.tag {
    background-color: rgb(226 232 240);
    border-radius: 50em;
    color: rgb(100 116 139);
    font-weight: 600;
    padding: 0.4em 1em;
    width: fit-content;
}

.container h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.interact {
    display: flex;
    margin-top: 3rem;
}

.interact > div {
    align-items: center;
    display: flex;
    margin-right: 2rem;
}

.interact > div > i {
    margin-right: 0.4rem;
}

.pagination > div {
    border: 1px solid var(--slate-300);
    display: inline-block;
    cursor: pointer;
    margin-right: 0.4rem;
    padding: 0.3em 0.8em;
    transition: border-color 0.2s;
}

.pagination > div:hover {
    border-color: var(--blue);
}

.currentPage {
    background-color: var(--blue);
    border-color: var(--blue) !important;
    color:rgb(255, 255, 255);
    cursor: initial !important;
}





@media screen and (min-width: 640px) {
    .filters {
        margin-left: auto;
        margin-right: auto;
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .filters {
        width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .filters {
        width: 768px;
    }
}