.master {
    display: grid;
    grid-gap: 32px;
    padding-bottom: 64px;
    padding-top: 64px;
}

.user {
    align-content: start;
    border-bottom: 1px solid var(--slate-300);
    display: grid;
    grid-row-gap: 24px;
    padding-bottom: 32px;
}

.user > div:first-of-type > div:first-of-type {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
    word-break: break-all;
}

.details {
    display: grid;
    grid-row-gap: 10px;
}

.details > div {
    align-items: center;
    display: flex;
    font-size: 15px;
}

.details > div > div {
    color: var(--slate-500);
}

.details > div svg {
    fill: var(--slate-500);
    height: 1em;
    margin-right: 5px;
    width: auto;
}





.select {
    display: flex;
    margin-bottom: 32px;
}

.select > div:nth-of-type(1) label {
    border: 1px solid var(--black);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.select > div:nth-of-type(2) label {
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--black);
}

.select > div:nth-of-type(3) label {
    border: 1px solid var(--black);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.select input {
    display: none;
}

.select label {
    cursor: pointer;
    display: block;
    padding: 8px 10px;
    transition: background-color 0.2s, color 0.2s;
}

.select label:hover {
    background-color: var(--slate-200);
}

.select input:checked + label {
    background-color: var(--black);
    color: var(--white);
}





.posts {
    display: grid;
    grid-row-gap: 32px;
    grid-template-columns: auto;
    margin-top: 32px;
}

.posts > div:not(:first-of-type) {
    border-top: 1px solid var(--slate-300);
    padding-top: 32px;
}








.results {
    display: flex;
    justify-content: space-between;
}

.results > div:first-of-type {
    align-items: center;
    display: flex;
}

.results > div:first-of-type > div:first-of-type {
    font-weight: 700;
}

.results > div:first-of-type > div:last-of-type {
    margin-left: 6px;
}

.results > div:first-of-type > div:last-of-type label {
    text-transform: capitalize;
}

.results > div:first-of-type > div:last-of-type > label {
    border: none;
    border-radius: 0;
    padding: 0;
    text-transform: capitalize;
}

.results > div:first-of-type > div:last-of-type > label > div {
    padding-right: 8px;
}

.results > div:first-of-type > div:last-of-type > div {
    width: 120px;
}








@media (min-width: 1024px) {
    .master {
        grid-template-columns: 300px auto;
    }

    .user {
        border-right: 1px solid var(--slate-300);
        padding-right: 32px;

        border-bottom: none;
        padding-bottom: 0;
    }
}