.master {
    height: fit-content;
}

.master > div:last-of-type {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.6rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
    margin-top: 0.4rem;
}

.radio input {
    display: none;
}

.radio label {
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s;
    width: 100%;
}

.radio label > div:nth-of-type(1) {
    background-color: var(--black);
    border-radius: 50%;
    height: 0.3rem;
    margin-right: 0.4rem;
    margin-top: 0.55rem;
    min-width: 0.3rem;
}

.radio label > div:nth-of-type(2) {
    line-height: 1.3em;
}

.radio input:hover + label {
    text-decoration: underline var(--slate-400);
    text-underline-offset: 20%;
}

.radio input:checked + label {
    text-decoration: underline var(--blue-600);
    text-underline-offset: 20%;
}