.master {
    display: grid;
    height: 100vh;
}

.master > div {
    align-items: center;
    background-color: var(--black);
    display: none;
    justify-content: center;
    height: 100vh;
}

.master > div > div * {
    color: var(--white);
    width: 420px;
}

.master > div > div > h2 {
    margin-bottom: 2rem;
}

.master > form {
    align-content: center;
    display: grid;
    grid-row-gap: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: min(100%, 420px);
}

.master > form > a:first-of-type {
    background-color: var(--blue-600);
    border-radius: 50%;
    height: 1.6rem;
    left: 1rem;
    position: absolute;
    top: 1rem;
    width: 1.6rem;
}

.master > form > h1 {
    margin-bottom: 1.2rem;
}

.master > form a {
    text-decoration: underline;
    text-underline-offset: 18%;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

.submit {
    border-radius: 0.3rem;
    margin-bottom: 1.2rem;
    padding: 0.6rem;
}





@media (min-width: 1024px) {
    .master {
        grid-template-columns: 1fr 1fr;
    }

    .master > div {
        display: flex;
    }
}