.master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    min-height: calc(100vh - var(--footer-height) - var(--header-nav-height));
}

.title {
    margin-bottom: 2rem;
}

.input {
    margin-bottom: 1.2rem;
}

.checkbox {
    margin-top: 0.6rem;
}

.submit {
    margin-top: 2rem;
    padding: 0.7rem;
}