.wrapper {
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--slate-400);
    border-radius: 0.6rem;
    display: flex;
    width: 100%;
    transition: border-color 0.3s;
}

.wrapper i {
    color: var(--slate-400);
    margin-right: 0.6rem;
}

.wrapper input {
    font-size: 1rem;
    padding: 0.6rem;
    width: 100%;
}

.wrapper input::placeholder {
    color: var(--slate-400);
}

.wrapper:hover {
    border-color: var(--blue-600);
}

.wrapper:focus-within {
    border-color: var(--blue-600);
}