.master {
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--slate-300);
    border-radius: 12px;
    display: flex;
    position: relative;

    transition: border-color 0.2s;
}

.master:focus-within {
    border-color: var(--blue-600);
}

.master input {
    padding: 10px 40px 10px 12px;
    width: 100%;
}

.master input::placeholder {
    color: var(--slate-400);
    font-size: 15px;
}

.master svg {
    height: 1em;
    right: 0.8em;
    position: absolute;
    width: auto;
}