.master {
    display: flex;
}

.master label {
    margin-right: 0.4rem;
}

.wrapper {
    align-items: center;
    background-color: var(--white);
    display: flex;
}

.wrapper:hover {
    border-color: var(--blue-600);
}

.wrapper:focus-within {
    border-color: var(--blue-600);
}

.wrapper:focus-within i {
    transform: rotate(180deg);
}

.wrapper select {
    cursor: pointer;
    font-weight: bold;
    padding-right: 1rem;
    text-transform: capitalize;
    transition: color 0.3s;
}

.wrapper i {
    transition: transform 0.3s;
}