.label {
    font-family: 'foundersgrotesk', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2em;
}

.label:first-letter {
    text-transform: uppercase;
}

.wrapper {
    align-items: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--black);
    display: flex;
}

.wrapper:hover {
    border-color: var(--blue-600);
}

.wrapper:focus-within {
    border-color: var(--blue-600);
}

.wrapper:focus-within i {
    transform: rotate(180deg);
}

.wrapper select {
    color: var(--slate-800);
    cursor: pointer;
    line-height: 1.2em;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    text-transform: capitalize;
    transition: color 0.3s;
    width: 100%;
}

.wrapper i {
    font-size: 0.8rem;
    transition: transform 0.3s;
}