.master {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    padding-bottom: 64px;
    padding-top: 64px;
}

.master h1 {
    margin-bottom: 48px;
}








.results {
    display: flex;
    justify-content: space-between;
}

.results > div:first-of-type {
    align-items: center;
    display: flex;
}

.results > div:first-of-type > div:first-of-type {
    font-weight: 700;
}

.results > div:first-of-type > div:last-of-type {
    margin-left: 6px;
}

.results > div:first-of-type > div:last-of-type label {
    text-transform: capitalize;
}

.results > div:first-of-type > div:last-of-type > label {
    border: none;
    border-radius: 0;
    padding: 0;
    text-transform: capitalize;
}

.results > div:first-of-type > div:last-of-type > label > div {
    padding-right: 8px;
}

.results > div:first-of-type > div:last-of-type > div {
    width: 120px;
}










.defs {
    display: grid;
    grid-row-gap: 32px;
    margin-top: 32px;
}

.defs > div:not(:first-of-type) {
    border-top: 1px solid var(--slate-300);
    padding-top: 32px;
}