@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');






@font-face {
    font-family: 'founders grotesk condensed';
    font-weight: 700;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/foundersgrotesk-condensed-bold.woff');
}

@font-face {
    font-family: 'founders grotesk mono';
    font-weight: 400;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/FoundersGroteskMonoWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: 'founders grotesk text';
    font-weight: 400;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/foundersgrotesk-text-regular.woff') format('woff');
}

@font-face {
    font-family: 'founders grotesk text';
    font-weight: 600;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/foundersgrotesk-text-semibold.woff') format('woff');
}

@font-face {
    font-family: 'founders grotesk text';
    font-weight: 700;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/foundersgrotesk-text-bold.woff') format('woff');
}

@font-face {
    font-family: 'bureau grotesque';
    font-weight: 400;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/bureaugrotesque-regular.woff') format('woff');
}

@font-face {
    font-family: 'bureau grotesque';
    font-weight: 500;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/bureaugrotesque-medium.woff') format('woff');
}

@font-face {
    font-family: 'bureau grotesque';
    font-weight: 700;
    font-style: normal;
    src: url('/tharzy-client/asset/fonts/bureaugrotesque-bold.woff') format('woff');
}






:root {
    --header-nav-height: 4rem;
    --footer-height: 3rem;
    --site-max-width: 1280px;

    --black: #021f4d; /* #021f4d */
    --white: rgb(255, 255, 255);
    --trans: rgba(0, 0, 0, 0);

    --blue: rgb(0, 105, 255);
    --blue-50: rgb(239 246 255);
    --blue-100: rgb(219 234 254);
    --blue-200: rgb(191 219 254);
    --blue-300: rgb(147 197 253);
    --blue-400: rgb(96 165 250);
    --blue-500: rgb(59 130 246);
    --blue-600: #f10810; /* #cd1724 c73412 rgb(37 99 235) */
    --blue-700: rgb(29 78 216);
    --blue-800: rgb(30 64 175);
    --blue-900: rgb(30 58 138);

    --green-200: rgb(187 247 208);
    --green-300: rgb(134 239 172);
    --green-400: rgb(74 222 128);
    --green-500: rgb(34 197 94);
    --green-700: rgb(21 128 61);
    --green-800: rgb(22 101 52);

    --yellow-100: rgb(254 249 195);
    --yellow-200: rgb(254 240 138);
    --yellow-300: rgb(253 224 71);
    --yellow-700: rgb(161 98 7);
    --yellow-800: rgb(133 77 14);

    --red-opaque: #ff989b;

    --slate-50: rgb(248 250 252);
    --slate-100: rgb(242 245 248);
    --slate-200: rgb(226 232 240);
    --slate-300: rgb(203 213 225);
    --slate-400: rgb(148 163 184);
    --slate-500: rgb(100 116 139);
    --slate-600: rgb(71 85 105);
    --slate-700: rgb(51 65 85);
    --slate-800: rgb(30 41 59);
    --slate-900: rgb(15 23 42);

    --gray-50: rgb(249 250 251);
    --gray-100: rgb(243 244 246);
    --gray-200: rgb(229 231 235);
    --gray-300: rgb(209 213 219);
    --gray-400: rgb(156 163 175);
    --gray-500: rgb(107 114 128);
    --gray-500-opaque: rgba(107, 114, 128, 0.2);
}