.master {
    display: grid;
    grid-row-gap: 32px;
    padding-bottom: 64px;
    padding-top: 64px;
}





.master > div:first-of-type {
    align-content: start;
    border-bottom: 1px solid var(--slate-300);
    display: grid;
    grid-row-gap: 32px;
    padding-bottom: 32px;
}

.master > div:first-of-type > div:first-of-type {
    border-bottom: 1px solid var(--slate-300);
    display: grid;
    grid-row-gap: 24px;
    padding-bottom: 32px;
}

.master > div:first-of-type > div:first-of-type > div > div:first-of-type {
    font-size: 17px;
    margin-bottom: 6px;
}

.disabled {
    opacity: 50%;
}










.definitions {
    display: grid;
    grid-row-gap: 18px;
}

.definitions > div > div:first-of-type {
    font-size: 17px;
    margin-bottom: 6px;
}






.nothing {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    text-align: center;
}

.nothing img {
    height: 80px;
    margin-bottom: 12px;
    width: auto;
}

.nothing > div:first-of-type {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}






.description {
    display: grid;
    grid-row-gap: 40px;
    height: fit-content;
}

.description h1 {
    font-size: 32px;
}






.top > h2 {
    font-size: 26px;
    margin-bottom: 12px;
}

.top > div > p:not(:last-of-type) {
    margin-bottom: 1em;
}

.top button {
    border-radius: 12px;
    display: block;
    margin-top: 16px;
    padding: 10px 12px;
}






.guest {
    border: 1px solid var(--slate-300);
    padding: 18px 22px 22px 22px;
}

.guest > div:first-of-type {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.guest > p {
    margin-bottom: 18px;
    max-width: 480px;
}

.guest > div:last-of-type > *:not(:first-of-type) {
    margin-left: 6px;
}

.guest button {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 12px;
}







@media (min-width: 768px) {
    .description h1 {
        font-size: 36px;
    }

    .top h2 {
        font-size: 28px;
    }

    .top p {
        font-size: 17px;
    }
}

@media (min-width: 1024px) {
    .master {
        grid-column-gap: 40px;
        grid-template-columns: 290px auto;
    }

    .master > div:first-of-type {
        border-right: 1px solid var(--slate-300);
        padding-right: 44px;

        border-bottom: none;
        padding-bottom: 0;
    }
}